attrs~=19.3.0
beautifulsoup4~=4.9.1
certifi~=2020.6.20
genanki~=0.8.0
googletrans~=3.0.0
imgkit~=1.0.2
kivy~=1.11.1
kivymd~=0.104.1
pandas~=1.0.4
pillow~=6.2.2
pre-commit
pystache~=0.5.4
requests~=2.23.0
spacy~=2.3.0
toolz~=0.10.0
unidecode~=1.1.1
