aiohttp
appdirs
attrs
beautifulsoup4
bidict
certifi
genanki
googletrans
Kivy
kivymd @ https://github.com/kivymd/KivyMD/archive/master.zip
lxml
pandas
Pillow
pony
requests
spacy
titlecase
toolz
Unidecode
